.home-product-one {
  width: 100%;
  background-color: #d87d4a;
  background-size: 31.25rem;
  background-position: center -100px;
  background-image: url("../../../assets/images/home/desktop/pattern-circles.svg");
  background-repeat: no-repeat;
  border-radius: 8px;
  padding-inline: 24px;
  padding-block: 54px;
}
.home-product-two {
  width: 100%;
  background-image: url("../../../assets/images/home/mobile/image-speaker-zx7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 24px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .home-product-one {
    background-size: 50rem;
    background-position: center -250px;
    padding-bottom: 4rem;
  }
  .home-product-two {
    background-image: url("../../../assets/images/home/tablet/image-speaker-zx7.jpg");
    padding-left: 62px;
  }
}
@media screen and (min-width: 1024px) {
  .home-product-one {
    height: 35rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    column-gap: 8rem;
    background-position: -90px -50px;
    padding-inline: 6rem;
    padding-block: 0;
  }
  .home-product-two {
    background-image: url("../../../assets/images/home/desktop/image-speaker-zx7.jpg");
    padding-left: 95px;
  }
}
