@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Manrope", sans-serif;
  }
  body {
    user-select: none;
  }
}

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scroll {
    overflow: hidden;
  }
  .para {
    @apply text-center font-medium text-[15px];
  }
  .primary-para {
    @apply para text-para-primary;
  }
  .secondary-para {
    @apply para text-para-secondary text-left leading-[1.5625rem];
  }
  .h1,
  .h2 {
    @apply uppercase font-bold;
  }
  .h2 {
    @apply text-black text-[28px];
  }
  .h1 {
    @apply text-4xl leading-[50px] tracking-[.08rem] md:text-[56px];
  }
  .btn {
    @apply w-fit h-12 px-8 flex items-center  uppercase text-[13px] 
        font-bold transition-opacity ease-in-out duration-300 border-2;
  }
  .primary-btn {
    @apply btn border-primary bg-primary text-secondary
        lg:hover:bg-orange-400 lg:hover:border-orange-400 lg:hover:opacity-80;
  }
  .disable-primary-btn {
    @apply btn text-white bg-orange-400 border-orange-400 opacity-80;
  }
  .secondary-btn {
    @apply btn transition-colors border-charcoal text-charcoal
    lg:hover:bg-charcoal lg:hover:text-secondary;
  }
  .sectionOne-btn {
    @apply btn border-charcoal bg-charcoal text-white
     lg:hover:bg-[#4c4c4c] lg:hover:border-[#4c4c4c] lg:hover:opacity-80;
  }
  .new {
    @apply uppercase text-[14px] tracking-[.625rem] font-normal leading-[1.195rem];
  }
  .checkout-sub-heading {
    @apply h2 text-primary text-[13px] mb-4;
  }
  input[type="radio"] {
    appearance: none;
    cursor: pointer;
    width: 1.25rem;
    height: 1.25rem;
    border: solid 0.0625rem #cfcfcf;
    border-radius: 50%;
    display: flex;
    transition: all 0.3s ease;
  }
  input[type="radio"]:checked:before {
    content: "";
    margin: auto;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 100%;
    background-color: #d87d4a;
  }
}

@layer utilities {
  .absolute-left-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .absolute-left-center-none {
    left: unset;
    transform: none;
  }
  .a {
    @apply font-bold text-[13px]/6 tracking-wider uppercase transition-colors ease-in-out duration-300 hover:text-primary;
  }
  .nav-link {
    @apply a text-secondary;
  }
  .active-nav-link {
    @apply a text-primary;
  }
  .shopping-cart-box {
    @apply fixed top-[7rem] w-[18rem] md:w-[23.5625rem] h-[30.5rem] 
            outline-none border-none bg-white rounded-lg 
            absolute-left-center md:absolute-left-center-none md:right-[40px] 
            xl:right-[160px] py-8 px-7;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .progress-bar {
    position: absolute;
    bottom: 0;
    height: 5px;
    width: 100%;
    animation: anim 1s linear forwards;
  }
  @keyframes anim {
    100% {
      width: 0;
    }
  }
  .page-container {
    @apply w-full mx-auto 
            max-w-[1200px] flex justify-center px-6 pt-10 pb-[120px] md:py-24 md:px-10 
            lg:pt-[120px] lg:pb-[200px] flex-col gap-[7.5rem] md:gap-[6rem] lg:gap-[10rem];
  }
  .productCard {
    @apply w-full flex flex-col items-center gap-6 
                    text-center md:w-[572px] md:mx-auto md:my-0 
                    lg:items-start lg:text-left lg:w-1/2;
  }
  .login-input {
    @apply border-[0.0625rem] w-full
                     border-input focus:border-black
                    rounded-sm px-4 py-2 outline-none font-medium text-[13px] text-black
                    placeholder:text-[11px] placeholder:font-medium placeholder:text-qtyBtn;
  }
  .rc-anchor-normal {
    @apply w-[200px];
  }
  .sectionOne {
    width: 100%;
    background-color: #d87d4a;
    background-size: 31.25rem;
    background-position: center -100px;
    background-image: url("/images/home/desktop/pattern-circles.svg");
    background-repeat: no-repeat;
    border-radius: 8px;
    padding-inline: 24px;
    padding-block: 48px;
  }
  .sectionTwo {
    width: 100%;
    background-image: url("/images/home/mobile/image-speaker-zx7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 24px;
    border-radius: 8px;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    column-gap: 1.25rem;
  }
  .modal-wrapper {
    @apply fixed bg-overlay w-full h-[calc(100%_-_5.625rem)] top-[5.625rem] z-10 overflow-auto;
  }
  .qtyBtn {
    @apply text-[#d6d6d6] hover:text-primary;
  }
}
@media screen and (min-width: 768px) {
  .sectionOne {
    background-size: 50rem;
    background-position: center -250px;
    padding-bottom: 4rem;
  }
  .sectionTwo {
    background-image: url("/images/home/tablet/image-speaker-zx7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 62px;
  }
}
@media screen and (min-width: 1024px) {
  .sectionOne {
    height: 35rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    column-gap: 8.625rem;
    background-position: -90px -50px;
    padding-inline: 6rem;
    padding-block: 0;
  }
  .sectionTwo {
    background-image: url("/images/home/desktop/image-speaker-zx7.jpg");
    padding-left: 95px;
  }
}
